In [2]:
# Import dependencies
import pandas as pd
import numpy as np
pd.set_option('max_colwidth', 400)
from pathlib import Path

In [3]:
# Save the path to the dataset 
crowd_fund = Path("Resources/crowdfunding.xlsx")

### Extract the crowdfunding.xlsx Data

In [34]:
# Read the data into a Pandas DataFrame
crowdfunding_info_df = pd.read_excel('Resources/crowdfunding.xlsx')
crowdfunding_info_df.head()

,cf_id,contact_id,company_name,blurb,goal,pledged,outcome,backers_count,country,currency,launched_at,deadline,staff_pick,spotlight,category & sub-category
0,147,4661,"Baldwin, Riley and Jackson",Pre-emptive tertiary standardization,100,0,failed,0,CA,CAD,1581573600,1614578400,False,False,food/food trucks
1,1621,3765,Odom Inc,Managed bottom-line architecture,1400,14560,successful,158,US,USD,1611554400,1621918800,False,True,music/rock
2,1812,4187,"Melton, Robinson and Fritz",Function-based leadingedge pricing structure,108400,142523,successful,1425,AU,AUD,1608184800,1640844000,False,False,technology/web
3,2156,4941,"Mcdonald, Gonzalez and Ross",Vision-oriented fresh-thinking conglomeration,4200,2477,failed,24,US,USD,1634792400,1642399200,False,False,music/rock
4,1365,2199,Larson-Little,Proactive foreground core,7600,5265,failed,53,US,USD,1608530400,1629694800,False,False,theater/plays

In [35]:
# Get a brief summary of the crowdfunding_info DataFrame.
crowdfunding_info_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 15 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   cf_id                    1000 non-null   int64
 1   contact_id               1000 non-null   int64
 2   company_name             1000 non-null   object
 3   blurb                    1000 non-null   object
 4   goal                     1000 non-null   int64
 5   pledged                  1000 non-null   int64
 6   outcome                  1000 non-null   object
 7   backers_count            1000 non-null   int64
 8   country                  1000 non-null   object
 9   currency                 1000 non-null   object
 10  launched_at              1000 non-null   int64
 11  deadline                 1000 non-null   int64
 12  staff_pick               1000 non-null   bool
 13  spotlight                1000 non-null   bool
 14  category & sub-category  1000 non-null   object
dtypes: bool(2), int64(7), object(6)
memory usage: 103.6+ KB

In [36]:
# Rename columns
cf_renamed_df = crowdfunding_info_df.rename(columns={
    'cf_id':'id','contact_id':'contact','company_name':'company',
    'backers_count':'backers','launched_at':'launched','staff_pick':'staffpick','category & sub-category':'category_subcategory'})
cf_renamed_df.head()

,id,contact,company,blurb,goal,pledged,outcome,backers,country,currency,launched,deadline,staffpick,spotlight,category_subcategory
0,147,4661,"Baldwin, Riley and Jackson",Pre-emptive tertiary standardization,100,0,failed,0,CA,CAD,1581573600,1614578400,False,False,food/food trucks
1,1621,3765,Odom Inc,Managed bottom-line architecture,1400,14560,successful,158,US,USD,1611554400,1621918800,False,True,music/rock
2,1812,4187,"Melton, Robinson and Fritz",Function-based leadingedge pricing structure,108400,142523,successful,1425,AU,AUD,1608184800,1640844000,False,False,technology/web
3,2156,4941,"Mcdonald, Gonzalez and Ross",Vision-oriented fresh-thinking conglomeration,4200,2477,failed,24,US,USD,1634792400,1642399200,False,False,music/rock
4,1365,2199,Larson-Little,Proactive foreground core,7600,5265,failed,53,US,USD,1608530400,1629694800,False,False,theater/plays

In [37]:
# Reorder the columns alphabetically
cf_ordered_df = cf_renamed_df [["backers", "blurb", "category_subcategory", "company", 
                                "contact", "currency", "country", "deadline", "goal",
                                "id","launched", "outcome", "pledged", "spotlight", "staffpick"]]
cf_ordered_df.head()

,backers,blurb,category_subcategory,company,contact,currency,country,deadline,goal,id,launched,outcome,pledged,spotlight,staffpick
0,0,Pre-emptive tertiary standardization,food/food trucks,"Baldwin, Riley and Jackson",4661,CAD,CA,1614578400,100,147,1581573600,failed,0,False,False
1,158,Managed bottom-line architecture,music/rock,Odom Inc,3765,USD,US,1621918800,1400,1621,1611554400,successful,14560,True,False
2,1425,Function-based leadingedge pricing structure,technology/web,"Melton, Robinson and Fritz",4187,AUD,AU,1640844000,108400,1812,1608184800,successful,142523,False,False
3,24,Vision-oriented fresh-thinking conglomeration,music/rock,"Mcdonald, Gonzalez and Ross",4941,USD,US,1642399200,4200,2156,1634792400,failed,2477,False,False
4,53,Proactive foreground core,theater/plays,Larson-Little,2199,USD,US,1629694800,7600,1365,1608530400,failed,5265,False,False

In [38]:
# Stats overview
cf_ordered_df.describe()

,backers,contact,deadline,goal,id,launched,pledged
count,1000.000000,1000.000000,1.000000e+03,1000.000000,1000.000000,1.000000e+03,1000.000000
mean,727.005000,3751.434000,1.627459e+09,43983.100000,1585.743000,1.610955e+09,42748.055000
std,1137.723135,1431.743284,9.072194e+06,58962.425595,926.944534,1.330154e+07,57415.481551
min,0.000000,1235.000000,1.609913e+09,100.000000,23.000000,1.579068e+09,0.000000
25%,86.000000,2502.750000,1.619672e+09,4200.000000,758.750000,1.601507e+09,5911.250000
50%,184.500000,3706.500000,1.627232e+09,8300.000000,1571.500000,1.611554e+09,11950.000000
75%,923.750000,4994.250000,1.635224e+09,80625.000000,2402.250000,1.620018e+09,66294.250000
max,7295.000000,6234.000000,1.645596e+09,199200.000000,3209.000000,1.643695e+09,199110.000000

### Create the Category and Subcategory DataFrames
---
**Create a Category DataFrame that has the following columns:**
- A "category_id" column that is numbered sequential form 1 to the length of the number of unique categories.
- A "category" column that has only the categories.

Export the DataFrame as a `category.csv` CSV file.

**Create a SubCategory DataFrame that has the following columns:**
- A "subcategory_id" column that is numbered sequential form 1 to the length of the number of unique subcategories.
- A "subcategory" column that has only the subcategories. 

Export the DataFrame as a `subcategory.csv` CSV file.

In [39]:
# Create a new category df by splitting category_subcategory
category_df = pd.DataFrame({"category_subcategory": ['food/food trucks', 'music/rock', 'technology/web',
       'theater/plays', 'film & video/documentary',
       'music/electric music', 'film & video/drama', 'music/indie rock',
       'technology/wearables', 'publishing/nonfiction',
       'film & video/animation', 'games/video games',
       'film & video/shorts', 'publishing/fiction',
       'photography/photography books', 'publishing/radio & podcasts',
       'music/metal', 'music/jazz', 'publishing/translations',
       'film & video/television', 'games/mobile games',
       'music/world music', 'film & video/science fiction',
       'journalism/audio']})
category_df

             category_subcategory
0                food/food trucks
1                      music/rock
2                  technology/web
3                   theater/plays
4        film & video/documentary
5            music/electric music
6              film & video/drama
7                music/indie rock
8            technology/wearables
9           publishing/nonfiction
10         film & video/animation
11              games/video games
12            film & video/shorts
13             publishing/fiction
14  photography/photography books
15    publishing/radio & podcasts
16                    music/metal
17                     music/jazz
18        publishing/translations
19        film & video/television
20             games/mobile games
21              music/world music
22   film & video/science fiction
23               journalism/audio

In [40]:
# Split the column on the / mark
category_df[['category', 'subcategory']] = category_df['category_subcategory'].str.split('/', expand=True)
print(category_df)

             category_subcategory      category        subcategory
0                food/food trucks          food        food trucks
1                      music/rock         music               rock
2                  technology/web    technology                web
3                   theater/plays       theater              plays
4        film & video/documentary  film & video        documentary
5            music/electric music         music     electric music
6              film & video/drama  film & video              drama
7                music/indie rock         music         indie rock
8            technology/wearables    technology          wearables
9           publishing/nonfiction    publishing         nonfiction
10         film & video/animation  film & video          animation
11              games/video games         games        video games
12            film & video/shorts  film & video             shorts
13             publishing/fiction    publishing            fiction
14  photography/photography books   photography  photography books
15    publishing/radio & podcasts    publishing   radio & podcasts
16                    music/metal         music              metal
17                     music/jazz         music               jazz
18        publishing/translations    publishing       translations
19        film & video/television  film & video         television
20             games/mobile games         games       mobile games
21              music/world music         music        world music
22   film & video/science fiction  film & video    science fiction
23               journalism/audio    journalism              audio

In [41]:
# Find the unique values of category
unique_categories = category_df['category'].unique()

# Number of unique categories
cat_num = len(unique_categories)
print(cat_num, unique_categories)

9 ['food' 'music' 'technology' 'theater' 'film & video' 'publishing' 'games'
 'photography' 'journalism']

In [42]:
# Find the unique values of subcategory
unique_subcategories = category_df['subcategory'].unique()

# Number of unique subcategories
subcat_num = len(unique_subcategories)
print(subcat_num, unique_subcategories)

24 ['food trucks' 'rock' 'web' 'plays' 'documentary' 'electric music' 'drama'
 'indie rock' 'wearables' 'nonfiction' 'animation' 'video games' 'shorts'
 'fiction' 'photography books' 'radio & podcasts' 'metal' 'jazz'
 'translations' 'television' 'mobile games' 'world music'
 'science fiction' 'audio']

In [43]:
# Create the Categories dataframe with category_id and category
categories_df = pd.DataFrame({"category_id":["cat1", "cat2", "cat3", "cat4", "cat5", "cat6", "cat7", "cat8", "cat9"],
                              "category": ['food', 'music',  'technology', 'theater', 'film & video', 'publishing', 'games', 'photography', 'journalism']})
categories_df

  category_id      category
0        cat1          food
1        cat2         music
2        cat3    technology
3        cat4       theater
4        cat5  film & video
5        cat6    publishing
6        cat7         games
7        cat8   photography
8        cat9    journalism

In [44]:
# Export the file as categories_df
categories_df.to_csv("Resources/categories.csv", index=True, header=True)

In [45]:
# Create the subcategories dataframe with subcategory_id and subcategory
subcategories_df = pd.DataFrame({"subcategory_id": ["subcat1", "subcat2", "subcat3", "subcat4", "subcat5", "subcat6", "subcat7", "subcat8", "subcat9", "subcat10",
                                                 "subcat11", "subcat12", "subcat13", "subcat14", "subcat15", "subcat16", "subcat17", "subcat18", "subcat19", "subcat20", "subcat21", "subcat22", "subcat23", "subcat24"],
                              "subcategory": ['food trucks','rock','web','plays','documentary', 'electric music', 'drama', 'indie rock', 'wearables', 'nonfiction',
                                           'animation', 'video games', 'shorts', 'fiction', 'photography books', 'radio & podcasts', 'metal', 'jazz',
                                           'translations', 'television', 'mobile games', 'world music', 'science fiction', 'audio']})
subcategories_df

   subcategory_id        subcategory
0         subcat1        food trucks
1         subcat2               rock
2         subcat3                web
3         subcat4              plays
4         subcat5        documentary
5         subcat6     electric music
6         subcat7              drama
7         subcat8         indie rock
8         subcat9          wearables
9        subcat10         nonfiction
10       subcat11          animation
11       subcat12        video games
12       subcat13             shorts
13       subcat14            fiction
14       subcat15  photography books
15       subcat16   radio & podcasts
16       subcat17              metal
17       subcat18               jazz
18       subcat19       translations
19       subcat20         television
20       subcat21       mobile games
21       subcat22        world music
22       subcat23    science fiction
23       subcat24              audio

In [46]:
# Export the file as subcategories_df
subcategories_df.to_csv("Resources/subcategories.csv", index=True, header=True)

### Campaign DataFrame
----
**Create a Campaign DataFrame that has the following columns:**
- The "cf_id" column.
- The "contact_id" column.
- The “company_name” column.
- The "blurb" column is renamed as "description."
- The "goal" column.
- The "goal" column is converted to a `float` datatype.
- The "pledged" column is converted to a `float` datatype. 
- The "backers_count" column. 
- The "country" column.
- The "currency" column.
- The "launched_at" column is renamed as "launch_date" and converted to a datetime format. 
- The "deadline" column is renamed as "end_date" and converted to a datetime format.
- The "category_id" with the unique number matching the “category_id” from the category DataFrame. 
- The "subcategory_id" with the unique number matching the “subcategory_id” from the subcategory DataFrame.
- And, create a column that contains the unique four-digit contact ID number from the `contact.xlsx` file.
 

Then export the DataFrame as a `campaign.csv` CSV file.

In [47]:
# Create a copy of the crowdfunding_info_df DataFrame name campaign_df. 
campaign_df = crowdfunding_info_df.copy()
campaign_df.head()

,cf_id,contact_id,company_name,blurb,goal,pledged,outcome,backers_count,country,currency,launched_at,deadline,staff_pick,spotlight,category & sub-category
0,147,4661,"Baldwin, Riley and Jackson",Pre-emptive tertiary standardization,100,0,failed,0,CA,CAD,1581573600,1614578400,False,False,food/food trucks
1,1621,3765,Odom Inc,Managed bottom-line architecture,1400,14560,successful,158,US,USD,1611554400,1621918800,False,True,music/rock
2,1812,4187,"Melton, Robinson and Fritz",Function-based leadingedge pricing structure,108400,142523,successful,1425,AU,AUD,1608184800,1640844000,False,False,technology/web
3,2156,4941,"Mcdonald, Gonzalez and Ross",Vision-oriented fresh-thinking conglomeration,4200,2477,failed,24,US,USD,1634792400,1642399200,False,False,music/rock
4,1365,2199,Larson-Little,Proactive foreground core,7600,5265,failed,53,US,USD,1608530400,1629694800,False,False,theater/plays

In [48]:
# Rename the blurb, launched_at, and deadline columns.
crowd_renamed_df = crowdfunding_info_df.rename(columns={
    'blurb':'description','launched_at':'launch_date','deadline':'end_date'})
crowd_renamed_df.head()

,cf_id,contact_id,company_name,description,goal,pledged,outcome,backers_count,country,currency,launch_date,end_date,staff_pick,spotlight,category & sub-category
0,147,4661,"Baldwin, Riley and Jackson",Pre-emptive tertiary standardization,100,0,failed,0,CA,CAD,1581573600,1614578400,False,False,food/food trucks
1,1621,3765,Odom Inc,Managed bottom-line architecture,1400,14560,successful,158,US,USD,1611554400,1621918800,False,True,music/rock
2,1812,4187,"Melton, Robinson and Fritz",Function-based leadingedge pricing structure,108400,142523,successful,1425,AU,AUD,1608184800,1640844000,False,False,technology/web
3,2156,4941,"Mcdonald, Gonzalez and Ross",Vision-oriented fresh-thinking conglomeration,4200,2477,failed,24,US,USD,1634792400,1642399200,False,False,music/rock
4,1365,2199,Larson-Little,Proactive foreground core,7600,5265,failed,53,US,USD,1608530400,1629694800,False,False,theater/plays

In [49]:
# Drop extra columns; use axis = 1
crowd_df = crowd_renamed_df.drop("staff_pick", axis=1)
crowd_df = crowd_df.drop("spotlight", axis=1)
crowd_df.head

<bound method NDFrame.head of      cf_id  contact_id                  company_name  \
0      147        4661    Baldwin, Riley and Jackson
1     1621        3765                      Odom Inc
2     1812        4187    Melton, Robinson and Fritz
3     2156        4941   Mcdonald, Gonzalez and Ross
4     1365        2199                 Larson-Little
..     ...         ...                           ...
995   2986        3684              Manning-Hamilton
996   2031        5784                    Butler LLC
997   1627        1498                      Ball LLC
998   2175        6073   Taylor, Santiago and Flores
999   1788        4939  Hernandez, Norton and Kelley

                                       description    goal  pledged  \
0             Pre-emptive tertiary standardization     100        0
1                 Managed bottom-line architecture    1400    14560
2     Function-based leadingedge pricing structure  108400   142523
3    Vision-oriented fresh-thinking conglomeration    4200     2477
4                        Proactive foreground core    7600     5265
..                                             ...     ...      ...
995            Vision-oriented scalable definition   97300   153216
996       Future-proofed upward-trending migration    6600     4814
997              Right-sized full-range throughput    7600     4603
998           Polarized composite customer loyalty   66600    37823
999                    Expanded eco-centric policy  111100    62819

        outcome  backers_count country currency  launch_date    end_date  \
0        failed              0      CA      CAD   1581573600  1614578400
1    successful            158      US      USD   1611554400  1621918800
2    successful           1425      AU      AUD   1608184800  1640844000
3        failed             24      US      USD   1634792400  1642399200
4        failed             53      US      USD   1608530400  1629694800
..          ...            ...     ...      ...          ...         ...
995  successful           2043      US      USD   1609221600  1622350800
996      failed            112      US      USD   1634274000  1638252000
997    canceled            139      IT      EUR   1636174800  1639116000
998      failed            374      US      USD   1602133200  1618117200
999    canceled           1122      US      USD   1609308000  1629262800

    category & sub-category
0          food/food trucks
1                music/rock
2            technology/web
3                music/rock
4             theater/plays
..                      ...
995        food/food trucks
996           theater/plays
997           theater/plays
998        music/indie rock
999        food/food trucks

[1000 rows x 13 columns]>

In [50]:
# Get data types
crowd_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 13 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   cf_id                    1000 non-null   int64
 1   contact_id               1000 non-null   int64
 2   company_name             1000 non-null   object
 3   description              1000 non-null   object
 4   goal                     1000 non-null   int64
 5   pledged                  1000 non-null   int64
 6   outcome                  1000 non-null   object
 7   backers_count            1000 non-null   int64
 8   country                  1000 non-null   object
 9   currency                 1000 non-null   object
 10  launch_date              1000 non-null   int64
 11  end_date                 1000 non-null   int64
 12  category & sub-category  1000 non-null   object
dtypes: int64(7), object(6)
memory usage: 101.7+ KB

In [51]:
# Convert the goal and pledged columns to a `float` data type.
crowd_df[["goal","pledged"]] = crowd_df[["goal","pledged"]].astype('float')
crowd_df

,cf_id,contact_id,company_name,description,goal,pledged,outcome,backers_count,country,currency,launch_date,end_date,category & sub-category
0,147,4661,"Baldwin, Riley and Jackson",Pre-emptive tertiary standardization,100.0,0.0,failed,0,CA,CAD,1581573600,1614578400,food/food trucks
1,1621,3765,Odom Inc,Managed bottom-line architecture,1400.0,14560.0,successful,158,US,USD,1611554400,1621918800,music/rock
2,1812,4187,"Melton, Robinson and Fritz",Function-based leadingedge pricing structure,108400.0,142523.0,successful,1425,AU,AUD,1608184800,1640844000,technology/web
3,2156,4941,"Mcdonald, Gonzalez and Ross",Vision-oriented fresh-thinking conglomeration,4200.0,2477.0,failed,24,US,USD,1634792400,1642399200,music/rock
4,1365,2199,Larson-Little,Proactive foreground core,7600.0,5265.0,failed,53,US,USD,1608530400,1629694800,theater/plays
...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,2986,3684,Manning-Hamilton,Vision-oriented scalable definition,97300.0,153216.0,successful,2043,US,USD,1609221600,1622350800,food/food trucks
996,2031,5784,Butler LLC,Future-proofed upward-trending migration,6600.0,4814.0,failed,112,US,USD,1634274000,1638252000,theater/plays
997,1627,1498,Ball LLC,Right-sized full-range throughput,7600.0,4603.0,canceled,139,IT,EUR,1636174800,1639116000,theater/plays
998,2175,6073,"Taylor, Santiago and Flores",Polarized composite customer loyalty,66600.0,37823.0,failed,374,US,USD,1602133200,1618117200,music/indie rock
999,1788,4939,"Hernandez, Norton and Kelley",Expanded eco-centric policy,111100.0,62819.0,canceled,1122,US,USD,1609308000,1629262800,food/food trucks

In [52]:
# Check the datatypes again
crowd_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 13 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   cf_id                    1000 non-null   int64
 1   contact_id               1000 non-null   int64
 2   company_name             1000 non-null   object
 3   description              1000 non-null   object
 4   goal                     1000 non-null   float64
 5   pledged                  1000 non-null   float64
 6   outcome                  1000 non-null   object
 7   backers_count            1000 non-null   int64
 8   country                  1000 non-null   object
 9   currency                 1000 non-null   object
 10  launch_date              1000 non-null   int64
 11  end_date                 1000 non-null   int64
 12  category & sub-category  1000 non-null   object
dtypes: float64(2), int64(5), object(6)
memory usage: 101.7+ KB

In [53]:
# Format the launched_date and end_date columns to datetime format
from datetime import datetime as dt
crowd_df["launch_date"] = pd.to_datetime(crowd_df["launch_date"], unit='s').dt.strftime('%Y-%m-%d')
crowd_df["end_date"] = pd.to_datetime(crowd_df["end_date"], unit='s').dt.strftime('%Y-%m-%d')
crowd_df

,cf_id,contact_id,company_name,description,goal,pledged,outcome,backers_count,country,currency,launch_date,end_date,category & sub-category
0,147,4661,"Baldwin, Riley and Jackson",Pre-emptive tertiary standardization,100.0,0.0,failed,0,CA,CAD,2020-02-13,2021-03-01,food/food trucks
1,1621,3765,Odom Inc,Managed bottom-line architecture,1400.0,14560.0,successful,158,US,USD,2021-01-25,2021-05-25,music/rock
2,1812,4187,"Melton, Robinson and Fritz",Function-based leadingedge pricing structure,108400.0,142523.0,successful,1425,AU,AUD,2020-12-17,2021-12-30,technology/web
3,2156,4941,"Mcdonald, Gonzalez and Ross",Vision-oriented fresh-thinking conglomeration,4200.0,2477.0,failed,24,US,USD,2021-10-21,2022-01-17,music/rock
4,1365,2199,Larson-Little,Proactive foreground core,7600.0,5265.0,failed,53,US,USD,2020-12-21,2021-08-23,theater/plays
...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,2986,3684,Manning-Hamilton,Vision-oriented scalable definition,97300.0,153216.0,successful,2043,US,USD,2020-12-29,2021-05-30,food/food trucks
996,2031,5784,Butler LLC,Future-proofed upward-trending migration,6600.0,4814.0,failed,112,US,USD,2021-10-15,2021-11-30,theater/plays
997,1627,1498,Ball LLC,Right-sized full-range throughput,7600.0,4603.0,canceled,139,IT,EUR,2021-11-06,2021-12-10,theater/plays
998,2175,6073,"Taylor, Santiago and Flores",Polarized composite customer loyalty,66600.0,37823.0,failed,374,US,USD,2020-10-08,2021-04-11,music/indie rock
999,1788,4939,"Hernandez, Norton and Kelley",Expanded eco-centric policy,111100.0,62819.0,canceled,1122,US,USD,2020-12-30,2021-08-18,food/food trucks

In [54]:
# Split the category & sub-category column
crowd_df[["category","subcategory"]] = crowd_df["category & sub-category"].str.split('/', n=1, expand=True)
crowd_df

,cf_id,contact_id,company_name,description,goal,pledged,outcome,backers_count,country,currency,launch_date,end_date,category & sub-category,category,subcategory
0,147,4661,"Baldwin, Riley and Jackson",Pre-emptive tertiary standardization,100.0,0.0,failed,0,CA,CAD,2020-02-13,2021-03-01,food/food trucks,food,food trucks
1,1621,3765,Odom Inc,Managed bottom-line architecture,1400.0,14560.0,successful,158,US,USD,2021-01-25,2021-05-25,music/rock,music,rock
2,1812,4187,"Melton, Robinson and Fritz",Function-based leadingedge pricing structure,108400.0,142523.0,successful,1425,AU,AUD,2020-12-17,2021-12-30,technology/web,technology,web
3,2156,4941,"Mcdonald, Gonzalez and Ross",Vision-oriented fresh-thinking conglomeration,4200.0,2477.0,failed,24,US,USD,2021-10-21,2022-01-17,music/rock,music,rock
4,1365,2199,Larson-Little,Proactive foreground core,7600.0,5265.0,failed,53,US,USD,2020-12-21,2021-08-23,theater/plays,theater,plays
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,2986,3684,Manning-Hamilton,Vision-oriented scalable definition,97300.0,153216.0,successful,2043,US,USD,2020-12-29,2021-05-30,food/food trucks,food,food trucks
996,2031,5784,Butler LLC,Future-proofed upward-trending migration,6600.0,4814.0,failed,112,US,USD,2021-10-15,2021-11-30,theater/plays,theater,plays
997,1627,1498,Ball LLC,Right-sized full-range throughput,7600.0,4603.0,canceled,139,IT,EUR,2021-11-06,2021-12-10,theater/plays,theater,plays
998,2175,6073,"Taylor, Santiago and Flores",Polarized composite customer loyalty,66600.0,37823.0,failed,374,US,USD,2020-10-08,2021-04-11,music/indie rock,music,indie rock
999,1788,4939,"Hernandez, Norton and Kelley",Expanded eco-centric policy,111100.0,62819.0,canceled,1122,US,USD,2020-12-30,2021-08-18,food/food trucks,food,food trucks

In [55]:
# Drop the category & sub-category column
crowd_clean_df = crowd_df.drop("category & sub-category", axis=1)
crowd_clean_df

,cf_id,contact_id,company_name,description,goal,pledged,outcome,backers_count,country,currency,launch_date,end_date,category,subcategory
0,147,4661,"Baldwin, Riley and Jackson",Pre-emptive tertiary standardization,100.0,0.0,failed,0,CA,CAD,2020-02-13,2021-03-01,food,food trucks
1,1621,3765,Odom Inc,Managed bottom-line architecture,1400.0,14560.0,successful,158,US,USD,2021-01-25,2021-05-25,music,rock
2,1812,4187,"Melton, Robinson and Fritz",Function-based leadingedge pricing structure,108400.0,142523.0,successful,1425,AU,AUD,2020-12-17,2021-12-30,technology,web
3,2156,4941,"Mcdonald, Gonzalez and Ross",Vision-oriented fresh-thinking conglomeration,4200.0,2477.0,failed,24,US,USD,2021-10-21,2022-01-17,music,rock
4,1365,2199,Larson-Little,Proactive foreground core,7600.0,5265.0,failed,53,US,USD,2020-12-21,2021-08-23,theater,plays
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,2986,3684,Manning-Hamilton,Vision-oriented scalable definition,97300.0,153216.0,successful,2043,US,USD,2020-12-29,2021-05-30,food,food trucks
996,2031,5784,Butler LLC,Future-proofed upward-trending migration,6600.0,4814.0,failed,112,US,USD,2021-10-15,2021-11-30,theater,plays
997,1627,1498,Ball LLC,Right-sized full-range throughput,7600.0,4603.0,canceled,139,IT,EUR,2021-11-06,2021-12-10,theater,plays
998,2175,6073,"Taylor, Santiago and Flores",Polarized composite customer loyalty,66600.0,37823.0,failed,374,US,USD,2020-10-08,2021-04-11,music,indie rock
999,1788,4939,"Hernandez, Norton and Kelley",Expanded eco-centric policy,111100.0,62819.0,canceled,1122,US,USD,2020-12-30,2021-08-18,food,food trucks

In [56]:
# Merge the campaign_df with the category_df on the "category" column and 
camp_cat_df = crowd_clean_df.merge(categories_df, on='category', how='right')


camp_cat_df.tail(30)

,cf_id,contact_id,company_name,description,goal,pledged,outcome,backers_count,country,currency,launch_date,end_date,category,subcategory,category_id
970,2432,5721,Bell PLC,Ergonomic eco-centric open architecture,100.0,2.0,failed,1,US,USD,2021-10-07,2021-11-25,photography,photography books,cat8
971,1549,3059,"Sullivan, Davis and Booth",Vision-oriented actuating hardware,2700.0,7767.0,successful,92,US,USD,2021-03-21,2021-09-25,photography,photography books,cat8
972,2594,4466,Robles Ltd,Right-sized demand-driven adapter,191000.0,173191.0,canceled,2138,US,USD,2021-02-19,2021-06-13,photography,photography books,cat8
973,2391,2687,Robles-Hudson,Balanced bifurcated leverage,8600.0,8656.0,successful,87,US,USD,2021-08-28,2021-09-22,photography,photography books,cat8
974,549,3398,"Adams, Walker and Wong",Seamless background framework,900.0,6514.0,successful,64,US,USD,2020-03-24,2021-02-25,photography,photography books,cat8
975,159,4502,Brown-Pena,Front-line client-server secured line,5300.0,14097.0,successful,247,US,USD,2020-03-08,2021-02-26,photography,photography books,cat8
976,2339,3676,"Swanson, Wilson and Baker",Synergized well-modulated project,4300.0,11525.0,successful,128,AU,AUD,2021-02-25,2021-05-07,photography,photography books,cat8
977,1762,1658,"White, Robertson and Roberts",Down-sized national software,5100.0,14249.0,successful,432,US,USD,2020-05-09,2021-05-22,photography,photography books,cat8
978,1551,2392,"Gonzalez, Williams and Benson",Multi-layered bottom-line encryption,6900.0,13212.0,successful,264,US,USD,2020-07-30,2021-07-03,photography,photography books,cat8
979,503,5149,Sanchez Ltd,Up-sized 24hour instruction set,170700.0,57250.0,canceled,1218,US,USD,2021-05-14,2021-08-08,photography,photography books,cat8
980,1317,2767,Thompson-Moreno,Expanded needs-based orchestration,62300.0,118214.0,successful,1170,US,USD,2021-03-10,2022-01-12,photography,photography books,cat8
981,959,5022,Caldwell PLC,Grass-roots zero administration alliance,37100.0,131404.0,successful,1991,US,USD,2020-12-17,2021-03-21,photography,photography books,cat8
982,3054,6163,Guerrero-Griffin,Networked web-enabled product,4700.0,12065.0,successful,137,US,USD,2021-06-10,2022-01-08,photography,photography books,cat8
983,2336,3572,Olson-Bishop,User-friendly high-level initiative,2300.0,4667.0,successful,106,US,USD,2020-11-04,2021-10-29,photography,photography books,cat8
984,1757,5306,"Rodriguez, Anderson and Porter",Reverse-engineered zero-defect infrastructure,6200.0,12216.0,successful,142,US,USD,2020-09-30,2021-09-07,photography,photography books,cat8
985,2587,3286,Ward PLC,Front-line bottom-line Graphic Interface,97100.0,105817.0,successful,4233,US,USD,2020-05-05,2021-03-12,photography,photography books,cat8
986,1927,3657,Porter-Hicks,De-engineered next generation parallelism,8800.0,2703.0,failed,33,US,USD,2021-02-22,2021-06-21,photography,photography books,cat8
987,750,2217,Jackson-Brown,Versatile 5thgeneration matrices,182800.0,79045.0,canceled,898,US,USD,2021-06-28,2021-12-17,photography,photography books,cat8
988,2701,2573,"Vazquez, Ochoa and Clark",Intuitive value-added installation,42100.0,79268.0,successful,1887,US,USD,2020-07-17,2021-04-11,photography,photography books,cat8
989,338,3628,Chung-Nguyen,Managed discrete parallelism,40200.0,139468.0,successful,4358,US,USD,2020-03-21,2021-03-07,photography,photography books,cat8
990,399,5983,"Dixon, Perez and Banks",Re-engineered encompassing definition,8300.0,2111.0,failed,57,CA,CAD,2021-12-29,2022-01-16,photography,photography books,cat8
991,1378,2873,Clements Ltd,Persistent bandwidth-monitored framework,3700.0,1343.0,failed,52,US,USD,2020-07-07,2021-07-27,photography,photography books,cat8
992,806,2961,Walter Inc,Streamlined 5thgeneration intranet,10000.0,8142.0,failed,263,AU,AUD,2020-12-20,2021-01-31,photography,photography books,cat8
993,1563,3043,"Sanders, Farley and Huffman",Cross-group clear-thinking task-force,172000.0,55805.0,failed,1691,US,USD,2021-04-08,2021-12-18,photography,photography books,cat8
994,1951,6013,Rodriguez-Robinson,Ergonomic methodical hub,5900.0,4997.0,failed,114,IT,EUR,2021-07-23,2021-11-25,photography,photography books,cat8
995,461,3521,Erickson-Rogers,De-engineered even-keeled definition,9800.0,7608.0,canceled,75,IT,EUR,2021-07-03,2021-07-08,photography,photography books,cat8
996,1095,3565,Young and Sons,Innovative disintermediate encryption,2400.0,4596.0,successful,144,US,USD,2020-11-28,2021-02-28,journalism,audio,cat9
997,1388,4517,Valenzuela-Cook,Total incremental productivity,6700.0,7496.0,successful,300,US,USD,2021-01-04,2021-10-04,journalism,audio,cat9
998,2448,2389,Little Ltd,Decentralized bandwidth-monitored ability,6900.0,12155.0,successful,419,US,USD,2021-01-25,2021-04-18,journalism,audio,cat9
999,602,2153,Giles-Smith,Right-sized web-enabled intranet,9700.0,11929.0,successful,331,US,USD,2022-02-01,2022-02-16,journalism,audio,cat9

In [57]:
# Merge the campaign_df with the subcategory_df on the "subcategory" column.
camp_cat_subcat_df = camp_cat_df.merge(subcategories_df, on='subcategory', how='right')
camp_cat_subcat_df

camp_cat_subcat_df.tail(30)

,cf_id,contact_id,company_name,description,goal,pledged,outcome,backers_count,country,currency,launch_date,end_date,category,subcategory,category_id,subcategory_id
970,1717,2619,Roberts and Sons,Streamlined holistic knowledgebase,6200.0,13103.0,successful,218,AU,AUD,2020-11-03,2021-08-02,games,mobile games,cat7,subcat21
971,1572,3290,Mcmillan Group,Advanced cohesive Graphic Interface,153700.0,55536.0,live,1111,US,USD,2021-03-22,2021-12-29,games,mobile games,cat7,subcat21
972,969,2043,Wang-Rodriguez,Total multimedia website,188800.0,57734.0,failed,535,US,USD,2021-10-13,2021-11-02,games,mobile games,cat7,subcat21
973,241,5072,"Young, Gilbert and Escobar",Networked didactic time-frame,151300.0,57034.0,failed,1296,US,USD,2020-10-11,2021-06-07,games,mobile games,cat7,subcat21
974,1010,4945,"Holder, Caldwell and Vance",Polarized systemic Internet solution,178000.0,43086.0,failed,395,IT,EUR,2020-09-17,2021-05-25,games,mobile games,cat7,subcat21
975,2600,5849,Nelson-Valdez,Open-source 4thgeneration open system,145600.0,141822.0,failed,2955,US,USD,2020-02-14,2021-04-06,games,mobile games,cat7,subcat21
976,1203,5245,"Fischer, Torres and Walker",Expanded even-keeled portal,118000.0,28870.0,failed,656,US,USD,2021-06-16,2021-08-03,games,mobile games,cat7,subcat21
977,2490,1918,Dawson-Tyler,Optional 6thgeneration access,193200.0,97369.0,failed,1596,US,USD,2020-12-08,2021-07-28,games,mobile games,cat7,subcat21
978,2098,5261,Freeman-Ferguson,Profound full-range open system,7800.0,4275.0,failed,78,US,USD,2021-02-10,2021-04-14,games,mobile games,cat7,subcat21
979,2107,5445,Gates PLC,Secured content-based product,4500.0,13985.0,successful,159,US,USD,2020-07-09,2021-05-18,music,world music,cat2,subcat22
980,1381,5921,Soto-Anthony,Ameliorated logistical capability,51400.0,90440.0,successful,2261,US,USD,2020-10-13,2021-02-22,music,world music,cat2,subcat22
981,2040,4467,Howard-Douglas,Organized human-resource attitude,88400.0,121138.0,successful,1573,US,USD,2020-09-22,2021-04-06,music,world music,cat2,subcat22
982,1369,1850,Schultz Inc,Synergistic tertiary time-frame,9400.0,6338.0,failed,226,DK,DKK,2021-01-28,2021-08-24,film & video,science fiction,cat5,subcat23
983,3030,2939,"Moore, Dudley and Navarro",Organic multi-tasking focus group,129400.0,57911.0,failed,934,US,USD,2021-03-09,2021-06-28,film & video,science fiction,cat5,subcat23
984,286,3847,Lester-Moore,Diverse analyzing definition,46300.0,186885.0,successful,3594,US,USD,2021-01-01,2021-05-30,film & video,science fiction,cat5,subcat23
985,1691,4754,Cummings Inc,Digitized transitional monitoring,28400.0,100900.0,successful,2293,US,USD,2020-09-22,2021-07-09,film & video,science fiction,cat5,subcat23
986,783,4520,Saunders Ltd,Multi-layered multi-tasking secured line,182400.0,102749.0,failed,1181,US,USD,2020-05-20,2021-03-06,film & video,science fiction,cat5,subcat23
987,88,5388,"Hogan, Porter and Rivera",Organic object-oriented core,8500.0,4613.0,failed,113,US,USD,2021-07-14,2021-08-23,film & video,science fiction,cat5,subcat23
988,1278,5203,Lam-Hamilton,Team-oriented global strategy,6000.0,11960.0,successful,221,US,USD,2021-06-14,2021-08-18,film & video,science fiction,cat5,subcat23
989,359,2993,Martinez-Johnson,Sharable radical toolset,96500.0,16168.0,failed,245,US,USD,2021-04-29,2021-12-14,film & video,science fiction,cat5,subcat23
990,50,3613,Rose-Fuller,Upgradable holistic system engine,10000.0,12042.0,successful,117,US,USD,2021-09-28,2021-10-04,film & video,science fiction,cat5,subcat23
991,1193,3992,"Russo, Kim and Mccoy",Balanced optimal hardware,10000.0,824.0,failed,14,US,USD,2020-11-17,2021-09-22,film & video,science fiction,cat5,subcat23
992,1973,2357,Montgomery-Castro,De-engineered disintermediate encryption,43800.0,13653.0,failed,248,AU,AUD,2021-01-26,2022-01-18,film & video,science fiction,cat5,subcat23
993,175,3264,Davis LLC,Compatible logistical paradigm,4700.0,7992.0,successful,81,AU,AUD,2021-08-22,2021-10-12,film & video,science fiction,cat5,subcat23
994,1994,4093,Boyle Ltd,Streamlined fault-tolerant conglomeration,3300.0,1980.0,failed,21,US,USD,2021-03-07,2021-09-06,film & video,science fiction,cat5,subcat23
995,1475,2813,Wood Inc,Re-engineered composite focus group,187600.0,35698.0,failed,830,US,USD,2020-08-17,2021-08-05,film & video,science fiction,cat5,subcat23
996,1095,3565,Young and Sons,Innovative disintermediate encryption,2400.0,4596.0,successful,144,US,USD,2020-11-28,2021-02-28,journalism,audio,cat9,subcat24
997,1388,4517,Valenzuela-Cook,Total incremental productivity,6700.0,7496.0,successful,300,US,USD,2021-01-04,2021-10-04,journalism,audio,cat9,subcat24
998,2448,2389,Little Ltd,Decentralized bandwidth-monitored ability,6900.0,12155.0,successful,419,US,USD,2021-01-25,2021-04-18,journalism,audio,cat9,subcat24
999,602,2153,Giles-Smith,Right-sized web-enabled intranet,9700.0,11929.0,successful,331,US,USD,2022-02-01,2022-02-16,journalism,audio,cat9,subcat24

In [58]:
# Export the DataFrame as a CSV file. 
camp_cat_subcat_df.to_csv("Resources/campaign.csv", index=False)

### Extract the contacts.xlsx Data.

In [65]:
# Read the data into a Pandas DataFrame. Use the `header=2` parameter when reading in the data.
contact_info_df = pd.read_excel("Resources/contacts.xlsx", header=3)
contact_info_df.head()

                                                                                contact_info
0   {"contact_id": 4661, "name": "Cecilia Velasco", "email": "cecilia.velasco@rodrigues.fr"}
1          {"contact_id": 3765, "name": "Mariana Ellis", "email": "mariana.ellis@rossi.org"}
2            {"contact_id": 4187, "name": "Sofie Woods", "email": "sofie.woods@riviere.com"}
3  {"contact_id": 4941, "name": "Jeanette Iannotti", "email": "jeanette.iannotti@yahoo.com"}
4        {"contact_id": 2199, "name": "Samuel Sorgatz", "email": "samuel.sorgatz@gmail.com"}

In [69]:
# Look at columns
contact_info_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 1 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   contact_info  1000 non-null   object
dtypes: object(1)
memory usage: 7.9+ KB

### Create the Contacts DataFrame 
---
**Create a Contacts DataFrame that has the following columns:**
- A column named "contact_id"  that contains the unique number of the contact person.
- A column named "first_name" that contains the first name of the contact person.
- A column named "last_name" that contains the first name of the contact person.
- A column named "email" that contains the email address of the contact person

Then export the DataFrame as a `contacts.csv` CSV file.

### Option 1: Use Pandas to create the contacts DataFrame.

In [84]:
# Iterate through the contact_info_df and convert each row to a dictionary
import json
dict_values = []
for i, row in contact_info_df.iterrows():
    data = row['contact_info']
    converted_data = json.loads(data)
    row_values = [v for k, v in converted_data.items()]
    dict_values.append(row_values)
# Print out the list of values for each row
    #print(column_names[0])
    #print()
    #print(dict_values)

In [88]:
# Create a contact_info DataFrame and add each list of values, i.e., each row 
# to the 'contact_id', 'name', 'email' columns.
new_contact_info_df = pd.DataFrame(dict_values, columns=['contact_id', 'name', 'email'])
new_contact_info_df.head()

#contact_info_df = pd.DataFrame(dict_values)

   contact_id               name                         email
0        4661    Cecilia Velasco  cecilia.velasco@rodrigues.fr
1        3765      Mariana Ellis       mariana.ellis@rossi.org
2        4187        Sofie Woods       sofie.woods@riviere.com
3        4941  Jeanette Iannotti   jeanette.iannotti@yahoo.com
4        2199     Samuel Sorgatz      samuel.sorgatz@gmail.com

In [90]:
# Check the datatypes.
new_contact_info_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   contact_id  1000 non-null   int64
 1   name        1000 non-null   object
 2   email       1000 non-null   object
dtypes: int64(1), object(2)
memory usage: 23.6+ KB

In [93]:
# Create a "first"name" and "last_name" column with the first and last names from the "name" column. 
new_contact_info_df[["first_name", "last_name"]] = new_contact_info_df["name"].str.split(' ', n=1, expand=True)
new_contact_info_df.head()
# Drop the contact_name column

,contact_id,name,email,first_name,last_name
0,4661,Cecilia Velasco,cecilia.velasco@rodrigues.fr,Cecilia,Velasco
1,3765,Mariana Ellis,mariana.ellis@rossi.org,Mariana,Ellis
2,4187,Sofie Woods,sofie.woods@riviere.com,Sofie,Woods
3,4941,Jeanette Iannotti,jeanette.iannotti@yahoo.com,Jeanette,Iannotti
4,2199,Samuel Sorgatz,samuel.sorgatz@gmail.com,Samuel,Sorgatz

In [94]:
# Reorder the columns
new_contact_info_df = new_contact_info_df.reindex(columns=["contact_id", "first_name", "last_name", "email"])
new_contact_info_df.head()

   contact_id first_name last_name                         email
0        4661    Cecilia   Velasco  cecilia.velasco@rodrigues.fr
1        3765    Mariana     Ellis       mariana.ellis@rossi.org
2        4187      Sofie     Woods       sofie.woods@riviere.com
3        4941   Jeanette  Iannotti   jeanette.iannotti@yahoo.com
4        2199     Samuel   Sorgatz      samuel.sorgatz@gmail.com

In [95]:
# Check the datatypes one more time before exporting as CSV file.
new_contact_info_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   contact_id  1000 non-null   int64
 1   first_name  1000 non-null   object
 2   last_name   1000 non-null   object
 3   email       1000 non-null   object
dtypes: int64(1), object(3)
memory usage: 31.4+ KB

In [96]:
# Export the DataFrame as a CSV file. 
new_contact_info_df.to_csv("Resources/contacts.csv", encoding='utf8', index=False)

### Option 2: Use regex to create the contacts DataFrame.

In [72]:
# Copy the data
contact_info_copy = contact_info_df.copy()
contact_info_copy.head()

                                                                                contact_info
0   {"contact_id": 4661, "name": "Cecilia Velasco", "email": "cecilia.velasco@rodrigues.fr"}
1          {"contact_id": 3765, "name": "Mariana Ellis", "email": "mariana.ellis@rossi.org"}
2            {"contact_id": 4187, "name": "Sofie Woods", "email": "sofie.woods@riviere.com"}
3  {"contact_id": 4941, "name": "Jeanette Iannotti", "email": "jeanette.iannotti@yahoo.com"}
4        {"contact_id": 2199, "name": "Samuel Sorgatz", "email": "samuel.sorgatz@gmail.com"}

In [73]:
# Get the datatypes and column names
contact_info_copy.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 1 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   contact_info  1000 non-null   object
dtypes: object(1)
memory usage: 7.9+ KB

In [75]:
# Extract the four-digit contact ID number.
contact_info_copy["contact_id"] = [x[15:19] for x in contact_info_df["contact_info"].values]
contact_info_copy.head()

,contact_info,contact_id
0,"{""contact_id"": 4661, ""name"": ""Cecilia Velasco"", ""email"": ""cecilia.velasco@rodrigues.fr""}",4661
1,"{""contact_id"": 3765, ""name"": ""Mariana Ellis"", ""email"": ""mariana.ellis@rossi.org""}",3765
2,"{""contact_id"": 4187, ""name"": ""Sofie Woods"", ""email"": ""sofie.woods@riviere.com""}",4187
3,"{""contact_id"": 4941, ""name"": ""Jeanette Iannotti"", ""email"": ""jeanette.iannotti@yahoo.com""}",4941
4,"{""contact_id"": 2199, ""name"": ""Samuel Sorgatz"", ""email"": ""samuel.sorgatz@gmail.com""}",2199

In [76]:
# Check the datatypes.
contact_info_copy.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 2 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   contact_info  1000 non-null   object
 1   contact_id    1000 non-null   object
dtypes: object(2)
memory usage: 15.8+ KB

In [78]:
# Convert the "contact_id" column to an int64 data type.
contact_info_copy['contact_id'] = pd.to_numeric(contact_info_copy['contact_id'])
contact_info_copy.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 2 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   contact_info  1000 non-null   object
 1   contact_id    1000 non-null   int64
dtypes: int64(1), object(1)
memory usage: 15.8+ KB

In [80]:
# Extract the name of the contact and add it to a new column.
contact_info_copy["name"] = contact_info_df["contact_info"].str.extract(values]
contact_info_copy.head()

,contact_info,contact_id,name
0,"{""contact_id"": 4661, ""name"": ""Cecilia Velasco"", ""email"": ""cecilia.velasco@rodrigues.fr""}",4661,4661
1,"{""contact_id"": 3765, ""name"": ""Mariana Ellis"", ""email"": ""mariana.ellis@rossi.org""}",3765,3765
2,"{""contact_id"": 4187, ""name"": ""Sofie Woods"", ""email"": ""sofie.woods@riviere.com""}",4187,4187
3,"{""contact_id"": 4941, ""name"": ""Jeanette Iannotti"", ""email"": ""jeanette.iannotti@yahoo.com""}",4941,4941
4,"{""contact_id"": 2199, ""name"": ""Samuel Sorgatz"", ""email"": ""samuel.sorgatz@gmail.com""}",2199,2199

In [36]:
# Extract the email from the contacts and add the values to a new column.
contact_info_copy["contact_id"] = [x[15:19] for x in contact_info_copy["contact_info"].values]
contact_info_copy.head()

,contact_info,contact_id,name,email
0,"{""contact_id"": 4661, ""name"": ""Cecilia Velasco"", ""email"": ""cecilia.velasco@rodrigues.fr""}",4661,Cecilia Velasco,cecilia.velasco@rodrigues.fr
1,"{""contact_id"": 3765, ""name"": ""Mariana Ellis"", ""email"": ""mariana.ellis@rossi.org""}",3765,Mariana Ellis,mariana.ellis@rossi.org
2,"{""contact_id"": 4187, ""name"": ""Sofie Woods"", ""email"": ""sofie.woods@riviere.com""}",4187,Sofie Woods,sofie.woods@riviere.com
3,"{""contact_id"": 4941, ""name"": ""Jeanette Iannotti"", ""email"": ""jeanette.iannotti@yahoo.com""}",4941,Jeanette Iannotti,jeanette.iannotti@yahoo.com
4,"{""contact_id"": 2199, ""name"": ""Samuel Sorgatz"", ""email"": ""samuel.sorgatz@gmail.com""}",2199,Samuel Sorgatz,samuel.sorgatz@gmail.com
5,"{""contact_id"": 5650, ""name"": ""Socorro Luna"", ""email"": ""socorro.luna@hotmail.com""}",5650,Socorro Luna,socorro.luna@hotmail.com
6,"{""contact_id"": 5889, ""name"": ""Carolina Murray"", ""email"": ""carolina.murray@knight.com""}",5889,Carolina Murray,carolina.murray@knight.com
7,"{""contact_id"": 4842, ""name"": ""Kayla Moon"", ""email"": ""kayla.moon@yahoo.de""}",4842,Kayla Moon,kayla.moon@yahoo.de
8,"{""contact_id"": 3280, ""name"": ""Ariadna Geisel"", ""email"": ""ariadna.geisel@rangel.com""}",3280,Ariadna Geisel,ariadna.geisel@rangel.com
9,"{""contact_id"": 5468, ""name"": ""Danielle Ladeck"", ""email"": ""danielle.ladeck@scalfaro.net""}",5468,Danielle Ladeck,danielle.ladeck@scalfaro.net

In [37]:
# Create a copy of the contact_info_df with the 'contact_id', 'name', 'email' columns.

   contact_id               name                         email
0        4661    Cecilia Velasco  cecilia.velasco@rodrigues.fr
1        3765      Mariana Ellis       mariana.ellis@rossi.org
2        4187        Sofie Woods       sofie.woods@riviere.com
3        4941  Jeanette Iannotti   jeanette.iannotti@yahoo.com
4        2199     Samuel Sorgatz      samuel.sorgatz@gmail.com
5        5650       Socorro Luna      socorro.luna@hotmail.com
6        5889    Carolina Murray    carolina.murray@knight.com
7        4842         Kayla Moon           kayla.moon@yahoo.de
8        3280     Ariadna Geisel     ariadna.geisel@rangel.com
9        5468    Danielle Ladeck  danielle.ladeck@scalfaro.net

In [38]:
# Create a "first"name" and "last_name" column with the first and last names from the "name" column. 


# Drop the contact_name column

   contact_id                         email first_name last_name
0        4661  cecilia.velasco@rodrigues.fr    Cecilia   Velasco
1        3765       mariana.ellis@rossi.org    Mariana     Ellis
2        4187       sofie.woods@riviere.com      Sofie     Woods
3        4941   jeanette.iannotti@yahoo.com   Jeanette  Iannotti
4        2199      samuel.sorgatz@gmail.com     Samuel   Sorgatz
5        5650      socorro.luna@hotmail.com    Socorro      Luna
6        5889    carolina.murray@knight.com   Carolina    Murray
7        4842           kayla.moon@yahoo.de      Kayla      Moon
8        3280     ariadna.geisel@rangel.com    Ariadna    Geisel
9        5468  danielle.ladeck@scalfaro.net   Danielle    Ladeck

In [39]:
# Reorder the columns

   contact_id first_name last_name                         email
0        4661    Cecilia   Velasco  cecilia.velasco@rodrigues.fr
1        3765    Mariana     Ellis       mariana.ellis@rossi.org
2        4187      Sofie     Woods       sofie.woods@riviere.com
3        4941   Jeanette  Iannotti   jeanette.iannotti@yahoo.com
4        2199     Samuel   Sorgatz      samuel.sorgatz@gmail.com
5        5650    Socorro      Luna      socorro.luna@hotmail.com
6        5889   Carolina    Murray    carolina.murray@knight.com
7        4842      Kayla      Moon           kayla.moon@yahoo.de
8        3280    Ariadna    Geisel     ariadna.geisel@rangel.com
9        5468   Danielle    Ladeck  danielle.ladeck@scalfaro.net

In [40]:
# Check the datatypes one more time before exporting as CSV file.

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   contact_id  1000 non-null   int64
 1   first_name  1000 non-null   object
 2   last_name   1000 non-null   object
 3   email       1000 non-null   object
dtypes: int64(1), object(3)
memory usage: 31.4+ KB

In [41]:
# Export the DataFrame as a CSV file. 
# contacts_df_clean.to_csv("Resources/contacts.csv", encoding='utf8', index=False)